{% extends "layout.html" %}
{% set active_page = "index" %}

{% block main_header %}
<h2 class='display-4 pr-1 pl-3'>המגילות</h2>
{% endblock main_header %}

{% block content %}
<div class="container pt-0 mt-0">
    <div class='main_page_header'>
        <h1 class="display-4 text-center text-light">המגילות</h1>
        <h1 class="lead text-center text-light">מנוע לחיפוש מקטעי טקסט</h1>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form role="form" action="{{url_for('search')}}" method="POST" enctype="multipart/form-data" id="form">
        <div class="container p-0">
            <div class="form-group d-flex flex-row-reverse" >
                <label dir="rtl" lang="he" class="col-2 col-form-label text-center">תבנית
                    לחיפוש:</label>
                <div class="col-8" id ="custom-col">
                    <textarea class="form-control text-right" name="letters" id="letters" dir="rtl" lang="he"
                        type="text" rows='3' placeholder="יש להכניס כל סדרת אותיות חדשה בשורה חדשה"></textarea>
                        <small id="letWarn" class="form-text text-right text-warning" dir='rtl'></small>
                </div>
            </div>
            <div class="form-group d-flex flex-row-reverse">
                <label for="example-number-input" dir="rtl" lang="he" class="col-2 col-form-label text-center">מרחק בין מחרוזות:</label>
                <div class="col-8" id ="custom-col">
                    <select class="form-control text-right" dir="rtl" name="text-length" id="text-length">
                        <option>1-50</option>
                        <option>51-100</option>
                        <option>101-150</option>
                        <option>151-200</option>
                    </select>
                </div>
            </div>
            <div class="form-group d-flex flex-row-reverse">
                <label for="example-url-input" dir="rtl" lang="he" class="col-2 col-form-label text-center">קבצים לחיפוש:</label>
                <div class="col-8" id ="custom-col">
                    <input type="file" class="custom-file-input" dir="rtl" name="files" id="files" multiple onchange="javascript:updateFilesNum()"/>
                    <label id = "inputText" class="custom-file-label" for="files">Please select files to upload...</label>
                    <small id="filesWarn" class="form-text text-right text-warning" dir='rtl'></small>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center p-3">
                <button class="snip1431">חיפוש</button>
            </div>
        </div>
    </form>
</div>
<script src="../static/JS/form.js"></script>
{% endblock content %}