<!doctype html>
<html lang="he">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <!-- Deafult title is Megilot if not specified otherwise-->
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Megilot</title>
    {% endif %}

</head>
<header id='header-override'>
    {% if is_main %}
    <nav class="navbar main-nav navbar-expand-md navbar-dark d-flex fixed-top py-3">
        {% else %}
        <nav class="navbar main-nav navbar-expand-md navbar-dark d-flex fixed-top py-3 border-bottom">
            {% endif %}
            <div class="navbar-collapse collapse w-100">
                <ul class="navbar-nav mr-auto flex-row-reverse">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('mainPage') }}">ראשי</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">כיצד משתמשים?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">אודות</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">יצירת קשר</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse dual-collapse2 w-100 flex-row-reverse">
                {% block main_header %}
                {% endblock main_header %}
            </div>
        </nav>
</header>

<body id='override'>
    {% block content %}
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript">

        var $grid = $('.grid').imagesLoaded(function () {
            // init Masonry after all images have loaded
            $grid.masonry({
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                percentPosition: true,
                originLeft: false
            });
        });

        $grid.on('shown.bs.collapse hidden.bs.collapse', function () {
            $grid.masonry();
        });

    </script>
    {% block scripts %}
    {% endblock %}
</body>

</html>