.grid-item {
    margin-bottom: 2px;
    padding: 3px;
}

.container-fluid {
    margin: 5px 0px 0px 0px;
}

header {
    color: rgb(241, 241, 241)
}

#override .small{
    margin-bottom: 2px;
}

.navbar a {
    direction: rtl
}

.navbar {
    background-color: black;
}


body {
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: rgb(241, 241, 241);
}


textarea{
    padding: 0px;
    margin: 0px;
}

.sticky-offset {
    top: 79.4px;
}

.container {
    position: relative;
    top: 60px;
}

body .index-container{
    position: relative;
    top: 120px;
    padding-left: 0px;
    padding-right: 0px;
}

body .my-container {
    position: relative;
    top: 79.4px;
    padding-left: 0px;
    padding-right: 0px;
}
body .my-container2 {
    position: relative;
    top: 100px;
    padding-left: 350px;
    padding-right: 350px;
}
body .my-container3 {
    position: relative;
    top: 100px;
    padding-right: 450px;
    padding-left: 450px;
}
body .my-container4 {
    position: relative;
    top: 100px;
    padding-right: 350px;
    padding-left: 350px;
}

a {
    color: #2e80b6
}

div#custom-col{
    padding: 0px;
}
#header-override .scrollable-menu{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    position: absolute;
    z-index: 1100;
}

#header-override .dropdown{
    position: absolute;
    right: 430px;
    z-index: 1100;
}

#header-override .dropdown .btn{
    background-color: #ff951c;
    color: black;
    border-radius: 10px;
}

article.list-group-item {
    background-color: rgba(255, 255, 255, 0.8);
    color: black
}

.icon-action {
    margin-top: 5px;
    float: left;
    font-size: 80%;
}

.list-group-item .title {
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: 600;
}

.list-group h6 {
    color: #1c6bff
}

.list-group a {
    color: #1c6bff
}

header .display-4 {
    font-size: 25px;
}

.snip1431 {
    border: none;
    background-color: #ff951c;
    color: black;
    cursor: pointer;
    padding: 0px 25px;
    display: inline-block;
    margin: 0px;
    text-transform: uppercase;
    line-height: 38px;
    font-weight: 400;
    font-size: 1.1em;
    outline: none;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.snip1431:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.snip1431:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: '';
    border-radius: inherit;
}

.snip1431:hover, .snip1431.hover {
    background-color: #ff951c;
    color: black;
}

.snip1431:hover:before, .snip1431.hover:before {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 0.25;
}

#h2Override{
    margin-bottom: 20px;
}
#rowOverride{
    margin-bottom: 40px;
}

#rowOverride2{
    margin-bottom: 50px;
}
#rowOverride3{
    margin-bottom: 50px;
}

#h3Override{
    font-size: 30px;
}

#h3Override2{
    font-size: 30px;
    margin-bottom: 40px;
}

#pOverride{
    font-size: 18px;
}

#liOverride{
    font-size: 18px;
    margin-bottom: 10px;
}

#liOverride2{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#image{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 60%;
    height: 50%;
}