header {
    color: rgb(241, 241, 241)
}

body {
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: rgb(241, 241, 241)
}

a {
    color: #2e80b6
}

header div.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 15px;
  }

.card {
    margin-bottom: 15px;
}

article.list-group-item {
    background-color: rgba(255, 255, 255, 0.8);
    color: black
}

.icon-action {
    margin-top: 5px;
    float: left;
    font-size: 80%;
}

.list-group-item .title {
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: 600;
}

.list-group h6 {
    color: #1c6bff
}

.list-group a {
    color: #1c6bff
}

.container-fluid {
    padding-top: 10px;
    padding-bottom: 20px;
}

.container .row .card {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.snip1431 {
    border: none;
    background-color: #ff951c;
    color: black;
    cursor: pointer;
    padding: 0px 25px;
    display: inline-block;
    margin: 0px;
    text-transform: uppercase;
    line-height: 38px;
    font-weight: 400;
    font-size: 1.1em;
    outline: none;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.snip1431:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.snip1431:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: '';
    border-radius: inherit;
}

.snip1431:hover, .snip1431.hover {
    background-color: #ff951c;
    color: black;
}

.snip1431:hover:before, .snip1431.hover:before {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 0.25;
}