{% extends "layout.html" %}

{% block content %}
<form id="main-form" role="form">
    <div class="container">
        <div class="form-group d-flex flex-row-reverse align-items-end">
            <label for="example-text-input" dir="rtl" lang="he" class="col-2 col-form-label text-center">אותיות
                ראשונות:</label>
            <div class="col-8">
                <input class="form-control text-right" name="first-letters" id="first-letters" dir="rtl" lang="he"
                    type="text" value="אב">
            </div>
        </div>
        <div class="form-group d-flex flex-row-reverse align-items-end">
            <label for="example-text-input" dir="rtl" lang="he" class="col-2 col-form-label text-center">אותיות
                אחרונות:</label>
            <div class="col-8">
                <input class="form-control text-right" name="last-letters" id="last-letters" dir="rtl" lang="he"
                    type="text" value="ח">
            </div>
        </div>
        <div class="form-group d-flex flex-row-reverse align-items-end">
            <label for="example-number-input" dir="rtl" lang="he" class="col-2 col-form-label text-center">מספר
                תווים במקטע:</label>
            <div class="col-8">
                <select class="form-control text-right" dir="rtl" name="text-length" id="text-length">
                    <option>0-50</option>
                    <option>50-100</option>
                    <option>100-150</option>
                    <option>150-200</option>
                </select>
            </div>
        </div>
        <div class="form-group d-flex flex-row-reverse align-items-end">
            <label for="example-url-input" dir="rtl" lang="he" class="col-2 col-form-label text-center">קישור
                לטקסט:</label>
            <div class="col-8">
                <input class="form-control" name="text-url" id="text-url" type="url" value="https://google.com">
            </div>
        </div>
        <div class="d-flex justify-content-center p-5">
            <button type="submit" dir="rtl" lang="he">חפש\י בטקסט</button>
        </div>
    </div>
</form>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

{% endblock content %}